.filters .matchTypes h4:hover {
    color: rgba(0, 0, 0, 0.548);
}

.courts {
    padding-top: 50px;
}

.courts .courtsWrapper {
    display: flex;
    gap: 20px;
}

.courts .courtsWrapper .court {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.courts .courtsWrapper .court .courtTitle {
    margin-bottom: 10px;
    background-color: #7814ff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}

.courts .courtsWrapper .court .courtTitle h4 {
    color: white;
}

.courts .courtsWrapper .court .courtTitle p {
    font-weight: 600;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.658);
}

.courts .courtsWrapper .court .courtTitle p span {
    color: white;
}

.courts .Day2Courts,
.courts .Day3Courts,
.courts .Day4Courts,
.courts .Day5Courts,
.courts .Day6Courts,
.courts .Day7Courts {
    display: none;
}


.matchItem {
    width: 315px;
}

.matchTypes h4:hover {
    color: #141414 !important;
}

.matchItem .matchTitle h4 {
    font-size: 10px;
}

.matchItem .matchTitle h4 span {
    font-size: 10px;
}

.matchItem .matchTitle span {
    font-size: 11px;
}


@media screen and (max-width: 1450px) {
    .courts .courtsWrapper {
        flex-direction: column;
    }

    .courts .courtsWrapper .court  {
        width: 100%;
        flex-wrap: wrap;
        flex-direction: row;
    }

    .courts .courtsWrapper .court .courtTitle {
        margin-bottom: 0;
        width: 100%;
    }

    .matchItem {
        height: max-content;
    }
}

@media screen and (max-width: 850px) {
    .filters .topFilters {
        flex-direction: column;
        align-items: start;
    }

    .filters .topFilters .stroke:nth-child(2) {
        width: 100%;
        height: 2px;
    }

    .filters .topFilters .matchTypes .stroke {
        height: 40px;
        width: 2px;
    }
    
    .filters .topFilters .matchTypes {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 500px) {
    .courts .courtsWrapper .court .courtTitle h4,
    .courts .courtsWrapper .court .courtTitle p {
        font-size: 12px;
    }

    .filters .matchTypes h4 {
        font-size: 14px;
    }

    .matchItem {
        width: 100%;
    }

    .matchItem .matchTitle h4 {
        font-size: 14px;
    }
    
    .matchItem .matchTitle h4 span {
        font-size: 14px;
    }
    
    .matchItem .matchTitle span {
        font-size: 14px;
    }
}